<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Average Weather
        </title>
        <link rel="stylesheet" href="public/css/jquery.mobile-1.1.0.min.css" />
        <link rel="stylesheet" href="public/css/default.css" />
        <script src="public/js/jquery.min.js">
        </script>
        <script src="public/js/jquery.mobile-1.1.0.min.js">
        </script>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h2>
                    Get Weather
                </h2>
            </div>
            <div data-role="content">
                <form action="get_weather" method="POST" data-ajax="false">
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <label for="textinput1">
                                Zip Code
                            </label>
                            <input id="textinput1" placeholder="zip_code" value="43212" type="text" />
                        </fieldset>
                    </div>
                    <input data-theme="b" data-icon="arrow-r" data-iconpos="right" value="Get Weather" type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
