<!DOCTYPE html>
<html>
    <head>
        <%include file='head_base.html'/>
        <title>Average Weather</title>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h2>
                    Get Weather
                </h2>
            </div>
            <div data-role="content">
                <form action="get_weather" method="post">
                    <div data-role="fieldcontain">
                        <fieldset data-role="controlgroup">
                            <label for="zip_code">
                                Zip Code
                            </label>
                            <input name="zip_code" id="zip_code" placeholder="12345" value="12345" type="text" />
                        </fieldset>
                    </div>
                    <input data-theme="b" data-icon="arrow-r" data-iconpos="right" value="Get Weather" type="submit" />
                </form>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>
