<!DOCTYPE html>
<html>
    <head>
        <%include file='head_base.html'/>
        <title>${zip_code}</title>

    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-role="content">
                <a data-role="button" data-rel="back" data-transition="slide" data-theme="a" href="../" data-icon="arrow-l" data-iconpos="left">
                    New Zip Code
                </a>
                <center>
                    <img src="public/plots/${plotfile}" />
                </center>

                <div data-role="collapsible-set" data-theme="b" data-content-theme="">

                    <div data-role="collapsible" data-collapsed="true">
                        <h3>
                            <%
                                current_temp = [float(x['temp']) for x in current]
                                current_temp = sum(current_temp)/len(current_temp)
                            %>
                            <b>CURRENT</b> ${int(current_temp)}
                        </h3>

                        % for i, entry in enumerate(current):
                                <div data-role="collapsible-set" data-theme="c" data-content-theme="c">
                                    <div data-role="collapsible" data-collapsed="true">
                                        <h3>
                                            <b>${services[i].capitalize()}</b>
                                        </h3>
                                        <table border="0" width="100%"><tr><td><div>
                                            <table border="0" width="100%">
                                                <tr><td>
                                                    <div><b>Temperature</b> ${entry['temp']}</div>
                                                    % if 'humidity' in entry:
                                                        <div><b>Humidity</b> ${entry['humidity']}</div>
                                                    % endif
                                                    % if 'wind' in entry:
                                                        <div><b>Wind</b> ${entry['wind']}</div>
                                                    % endif
                                                    <div><b>Condition</b> ${entry['condition']}</div>
                                                </td><td align="right" width="35px">
                                                    % if 'icon' in entry:
                                                        <img src=${entry['icon']}>
                                                    % endif
                                                </td></tr>
                                            </table>
                                        </div></td></tr></table>
                                    </div>
                                </div>
                        % endfor
                    </div>
                </div>
                % for day_idx, day in enumerate(days):
                    <div data-role="collapsible-set" data-theme="b" data-content-theme="">
                        <div data-role="collapsible" data-collapsed="true">
                            <h3>
                                <b>${day.upper()}</b> High: ${int(mean_highs[day_idx])} Low: ${int(mean_lows[day_idx])}
                            </h3>

                            % for entry_idx, entry in enumerate(forecast):
                                %if day in entry:
                                    <div data-role="collapsible-set" data-theme="c" data-content-theme="c">
                                        <div data-role="collapsible" data-collapsed="true">
                                            <h3>
                                                <b>${services[entry_idx].capitalize()}</b>
                                            </h3>
                                            <table border="0" width="100%"><tr><td>
                                                <div>
                                                    <b>High</b> ${entry[day]['high']}
                                                </div>
                                                <div>
                                                    <b>Low</b> ${entry[day]['low']}
                                                </div>
                                                <div>
                                                    <b>Condition</b> ${entry[day]['condition']}
                                                </div>
                                            </td>
                                            <td align="right" width="35px">
                                                % if 'icon' in entry[day]:
                                                    <img src=${entry[day]['icon']}>
                                                % endif
                                            </td></tr></table>
                                        </div>
                                    </div>
                                %endif
                            % endfor
                        </div>
                    </div>
                % endfor
            </div>
            <div name="citations">
                Sources:
                <ul>
                % for cite in cites:
                    <li><a href=${cite['url']}>${cite['text']}</a></li>
                % endfor
                </ul>
            </div>
            <%include file='body_foot.html'/>
        </div>
    </body>
</html>
