<%include file='head_base.html'/>

<div data-role="page" id="page1">
    <div data-role="content">
        <a data-role="button" data-rel="back" data-transition="slide" data-theme="a" href="../" data-icon="arrow-l" data-iconpos="left">
            New Zip Code
        </a>
        <center>
            <img src="public/plots/${plotfile}" />
        </center>

        <div data-role="collapsible-set" data-theme="b" data-content-theme="">

            <div data-role="collapsible" data-collapsed="true">
                <h3>
                    <%
                        current_temp = [float(x['temp']) for x in current if x]
                        current_temp = sum(current_temp)/len(current_temp)
                    %>
                    <b>CURRENT</b> ${int(current_temp)}
                </h3>

                % for i, entry in enumerate(current):
                    <%
                        if not entry:
                            continue
                    %>
                    <div data-role="collapsible-set" data-theme="c" data-content-theme="c">
                        <div data-role="collapsible" data-collapsed="true">
                            <h3>
                                <b>${services[i].capitalize()}</b>
                            </h3>
                            <table border="0" width="100%"><tr><td><div>
                                <table border="0" width="100%">
                                    <tr><td>
                                        <div><b>Temperature</b> ${entry['temp']}</div>
                                        % if 'humidity' in entry:
                                            <div><b>Humidity</b> ${entry['humidity']}</div>
                                        % endif
                                        % if 'wind' in entry:
                                            <div><b>Wind</b> ${entry['wind']}</div>
                                        % endif
                                        <div><b>Condition</b> ${entry['condition']}</div>
                                    </td><td align="right" width="35px">
                                        % if 'icon' in entry:
                                            <img src=${entry['icon']}>
                                        % endif
                                    </td></tr>
                                </table>
                            </div></td></tr></table>
                        </div>
                    </div>
                % endfor
            </div>
        </div>
        % for date_idx, date in enumerate(dates):
            <div data-role="collapsible-set" data-theme="b" data-content-theme="">
                <div data-role="collapsible" data-collapsed="true">
                    <h3>
                        <b>${days[date_idx].upper()}</b> High: ${int(mean_highs[date_idx])} Low: ${int(mean_lows[date_idx])}
                    </h3>

                    % for entry_idx, entry in enumerate(forecast):
                        %if date in entry:
                            <div data-role="collapsible-set" data-theme="c" data-content-theme="c">
                                <div data-role="collapsible" data-collapsed="true">
                                    <h3>
                                        <b>${services[entry_idx].capitalize()}</b>
                                    </h3>
                                    <table border="0" width="100%"><tr><td>
                                        <div>
                                            <b>High</b> ${entry[date]['high']}
                                        </div>
                                        <div>
                                            <b>Low</b> ${entry[date]['low']}
                                        </div>
                                        <div>
                                            <b>Condition</b> ${entry[date]['condition']}
                                        </div>
                                    </td>
                                    <td align="right" width="35px">
                                        % if 'icon' in entry[date]:
                                            <img src=${entry[date]['icon']}>
                                        % endif
                                    </td></tr></table>
                                </div>
                            </div>
                        %endif
                    % endfor
                </div>
            </div>
        % endfor
        <ul data-role="listview" data-divider-theme="c" data-inset="true">
            <li data-role="list-divider" role="heading">
                Sources
            </li>
            % for cite in cites:
                <li data-theme="c">
                    <a href=${cite['url']} data-transition="slide">
                            <p style="white-space:normal">
                                    ${cite['text']}
                            </p>
                    </a>
                </li>
            % endfor
        </ul>
    </div>
</div>
<%include file='body_foot.html'/>
